<div dir="ltr">
	<div dir="ltr">
		<div dir="ltr">
			<div>Hi $name$,</div>
			<div>
				<br>
			</div>
			<div>Welcome to Girl Code! You've just signed up for our 8 week beginner coding course <font size="4">🎉</font>
			</div>
			<div>
				<br>
			</div>
			<div>
				<font size="4">What do I need?</font>
			</div>
			<div>
				<br>
			</div>
			<div>You just need to bring a Windows or Apple laptop. We will set everything up in class.</div>
			<div>
				<br>
			</div>
			<div>
				<font size="4">How do I pay?</font>
			</div>
			<div>
				<font size="4">
					<br>
				</font>
			</div>
			<div>Please pay us by bank transfer, with your name as the reference. We'll email you a receipt when we receive your payment.<br>
			</div>
			<div>
				<br>
			</div>
			<div>Amount: $400</div>
			<div>
				<br>
			</div>
			<div>Account details:</div>
			<div>M Gatland</div>
			<div>12-3099-0633441-02</div>
			<div>ASB Bank</div>
			<div>
				<br>
			</div>
			<div>Please pay us within seven days, or send us an email if you need more time.</div>
			<div>
				<font size="4">
					<br>
				</font>
			</div>
			<div>
				<font size="4">Anything else?</font>
			</div>
			<div>
				<br>
			</div>
			<div>We'll send out information about getting to the venue and parking closer to the start date.</div>
			<div>
				<br>
			</div>
			<div>If you have any questions or problems you can email girlcodeakl@gmail.com or send one of us a text.</div>
			<div>
				<br>
			</div>
			<div>Thanks!</div>
			<div>
				<br>
			</div>
			<div>Alice + Matthew</div>
			<div>
				<a href="http://girlcode.co.nz" target="_blank">http://girlcode.co.nz</a>
			</div>
			<div>
				<br>
			</div>
		</div>
	</div>
</div>